[Unit]
Description=Dash's distributed currency daemon
After=network.target

[Service]
User=argontoken
Group=argontoken

Type=forking
PIDFile=/var/lib/argontokend/argontokend.pid
ExecStart=/usr/bin/argontokend -daemon -pid=/var/lib/argontokend/argontokend.pid \
-conf=/etc/argontoken/argontoken.conf -datadir=/var/lib/argontokend -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
